<html>
    <body>
       <div class="not"> <div class="page">
            PAGE
        </div>
       
            NOT FOUND 
        
    </div>

    </body>
</html>
<style>
    body{
        background: url('/images/hack.jpg');
        background-size: cover;
        color: white;
    }
    .page{
       
        font-size: 76px;
        font-weight: bold;

    }
    .not{
        position:absolute;
        top:20%;
        left:65%;
        font-size: 36px;
    }
</style>