<html>
  <head>
    <title>
      pubg
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/css/animate.css">
  </head>


<body>


<!--NAVBAR-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">OPPURTUNITY GEEKS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Almuni
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/almunifeed">Feed</a>
              <a class="dropdown-item" href="/almunicompose">Compose</a>
              
            </div>
          </li>


        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
            <div class="dropdown-menu  " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/eventfeed">Feed</a>
              <a class="dropdown-item" href="/eventcompose">Compose</a>
              
            </div>
          </li>



          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Scholarships
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/scholarfeed">Feed</a>
              <a class="dropdown-item" href="/scholarcompose">Compose</a>
              
            </div>
          </li>









          <li class="nav-item active">
            <a class="nav-link" href="/fest">Fest</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/about">Contact Us</a>
          </li>

      </ul>
    </div>
  </nav>

<!--NAVBAR-->

<br>
<br>




<!--CULMYCA-->
<div style="text-align: center;">
  <h2 class="tlt1">ELEMENTS</h1>
<h1 class="tlt">CULMYCA</h1>
</div>
<!--CULMYCA-->


<br>
<br>
<div class="date">
  <h1>April 9<sup>th</sup> To April 11<sup>th</sup></h1>
</div>
<br>
<br>
<div style="text-align: center;">
<a href='/clubevents' class="btn btn-primary"> CLUB EVENTS </a>
</div>



<br>
<br>

<!--COMPOSE-->
<!--
<div class="one wow bounce">
  <div class="circle" ></div>
    <h3>MANAN</h3>
  </div>

-->


<!--COMPOSE-->
















<script src="/js/jquery-3.4.1.min.js"></script>
        
<script src="/js/jquery.lettering.js"></script>
<script src="/js/jquery.textillate.js"></script>
<script type="text/javascript">
   
        $('.tlt').textillate({
in:{effect:'fadeInLeftBig'},
out:{effect:'fadeOutRightBig'},loop:true

        });


        $('.tlt1').textillate({
in:{effect:'fadeInRightBig'},
out:{effect:'fadeOutLeftBig'},loop:true

        });

</script>






<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="/js/wow.js"></script>
<script>new WOW().init();</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
<style>
  .first{
    width:90%;
    margin:0 auto;
    border:1px solid black;
  }
  .circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: black 2px 2px 4px 1px;

  }

.one{
  position: absolute;
  top:100px;
  left:20%;
}
.row{
width:80%;
margin: 0 auto;

}

   h3{
    
    text-align: center;
    position:relative;
    bottom:-20px;
    left:-50%;
  }
  .tlt{
    font-size: 78px;
    text-shadow:black 2px 2px 4px;
    color: gray;
  }
   .tlt1{
     font-size: 50px;
    color: black;
    text-shadow:black 2px 2px 4px;
  }
  .date{
    text-align: center;
    text-shadow:black 2px 2px 4px;
  }
  
</style>